<!doctype html>
<!--[if lt IE 8 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<title>featen admin portal</title>
<meta name="description" content="featen.com">
<meta name="author" content="He JianJun">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/sparrow/css/default.css">
<link rel="stylesheet" href="/sparrow/css/layout.css">
<link rel="stylesheet" href="/sparrow/css/media-queries.css">
<link rel="stylesheet" href="/sparrow/css/gas.css">

<script type="text/javascript" src="/sparrow/js/modernizr.js"></script>
<script type="text/javascript" src="/lib/angular-1.2.1.js"></script>
<script type="text/javascript" src="/lib/angular-route-1.2.1.js"></script>

	<!--
	<script type="text/javascript" src="/lib/jquery-2.0.3.js"></script>
	<script	src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="/sparrow/js/jquery-migrate-1.2.1.min.js"></script>

	<!-- template js -->
	<script src="/sparrow/js/jquery.flexslider.js"></script>
	<script src="/sparrow/js/doubletaptogo.js"></script>
	<script src="/sparrow/js/init.js"></script>

	<!-- jquery data table 
	<script src="/lib/jquery.dataTables.js"></script>
	<script src="/lib/jquery.dataTables.bootstrap.js"></script>
    -->
	<!-- base64 -->
	<script src="/lib/base64.js"></script>

	<!-- Markdown  -->
	<script defer type="text/javascript" src="/lib/marked.js"></script>

	<!-- APP JS -->

	<script type="text/javascript" src="/js/admin/app.js"></script>
	<script type="text/javascript" src="/js/admin/config.js"></script>
	<script type="text/javascript" src="/js/utils.js"></script>
	<script type="text/javascript" src="/js/admin/user.js"></script>
	<script type="text/javascript" src="/js/admin/article.js"></script>
	<script type="text/javascript" src="/js/admin/share.js"></script>
	<script type="text/javascript" src="/js/admin/product.js"></script>


	<script type="text/javascript" src="/js/init.js"></script>



<link rel="shortcut icon" href="favicon.png">
<style>
.ng-cloak {
	display: none;
}
</style>
</head>
<body>
	<header>
		<div class="row">
			<div class="twelve columns">
				<div class="logo">
					<a data-ng-href="#/"><font size="32" color="white">featen</font></a>
				</div>

				<nav id="nav-wrap">
					<a class="mobile-btn" href="#nav-wrap" target="_self" title="Show navigation">Show navigation</a>
	            	<a class="mobile-btn" href="#" target="_self" title="Hide navigation">Hide navigation</a>

					<ul id="nav" class="nav" data-ng-controller="UsersCtrl" data-ng-init="getCurrUser()">
                        <li data-ng-hide="!global.authenticated"><span><a data-ng-href="#/products">Products</a></span>
                        	<ul>
                        		<li><a data-ng-href="#/addproduct">Add Product</a></li>
                        	</ul>
                        </li>
                        <li data-ng-show="global.authenticated"><a data-ng-href="#/writeblog">Articles</a></li>

						<li data-ng-show="global.authenticated"><span>{{global.user}}</span>
                            <ul>
								<li><a data-ng-href="#/" data-ng-click="signout()" >Sign Out</a></li>
							</ul>
						</li>

						<li data-ng-hide="global.authenticated"><a data-ng-href="#/signin" >Sign In</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>


	<div data-ng-view></div>

	<div class="alert-container alert-bottom-right" data-ng-controller="AlertController">
		<div data-ng-repeat="alert in alerts" class="alert"
			data-ng-class="{'alert-warning': alert.type == 'warning',
	                               'alert-success': alert.type == 'success',
	                               'alert-info': alert.type == 'info',
	                               'alert-danger': alert.type == 'error'}">
			<button type="button" class="close" data-dismiss="alert"
				data-ng-click="remove($index)">&times;</button>
			<i data-ng-class="{'fa fa-exclamation-triangle': alert.type == 'warning',
	                                   'fa fa-thumbs-up': alert.type == 'success',
	                                   'fa fa-info': alert.type == 'info',
	                                   'fa fa-bolt': alert.type == 'error'}"></i>
			<strong data-ng-bind="alert.strong"></strong> <span data-ng-bind="alert.message"></span>
		</div>
	</div>

	<footer>
      <div class="row">
         <div class="twelve columns">
            <ul class="footer-social">
               <li><a target="_blank" href="https://www.facebook.com/he.j.jun"><i class="fa fa-facebook"></i></a></li>
               <li><a target="_blank" href="https://twitter.com/featen_com"><i class="fa fa-twitter"></i></a></li>
               <li><a target="_blank" href="https://plus.google.com/+HeJianjun"><i class="fa fa-google-plus"></i></a></li>
               <li><a target="_blank" href="https://ca.linkedin.com/in/hejianjun/"><i class="fa fa-linkedin"></i></a></li>
               <li><a target="_blank" href="https://github.com/featen"><i class="fa fa-github"></i></a></li>
               <li><a target="_blank" href="http://www.weibo.com/featen"><i class="fa fa-weibo"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>Copyright &copy; 2014 featen.    Template by <a href="http://www.styleshout.com">Styleshout</a></li>
            </ul>
         </div>
         <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>
      </div>
	</footer>

	<a href="https://github.com/featen/gas"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

</body>
</html>
