
<div data-ng-controller="DealsController" data-ng-init="load()">

	<div class="content-outer" style="max-height: 700px; mix-height: 500px;">
		<div id="page-content" class="row">
			<div id="primary" class="eight columns">
				<div id="intro-slider" class="flexslider">
					<ul class="slides">
						<li data-ng-repeat="p in photos">
							<div class="slider-image">
								<img class="img-responsive" draggable="false" ng-src="{{p}}"
									style="max-height: 500px; width: 100%;" />
							</div>
						</li>
					</ul>
				</div>

			</div>
			<div id="secondary" class="four columns end">
				<div id="contact-form" class="row" style="padding:10px;">
					<h4>{{deal.Info.Title}}</h4>
					<br>
                    <ul>
                            <li><b><del>Listing Price: ${{deal.Info.Price + deal.Info.Discount}} </del></b></li>
                            <li><h3>Now:    <span style="color: red">${{deal.Info.Price}}</span></h3></li>

							<li id="url">
							<a class="button" target="_blank" data-ng-show="deal.Info.tburl.length>0" href="{{deal.Info.tburl}}">淘宝</a>
							<a class="button" target="_blank" data-ng-show="deal.Info.ebayurl.length>0" href="{{deal.Info.ebayurl}}">ebay</a>
							<a class="button" target="_blank" data-ng-show="deal.Info.wburl.length>0" href="{{deal.Info.wburl}}">微博</a>
							<a class="button" target="_blank" data-ng-show="deal.Info.fburl.length>0" href="{{deal.Info.fburl}}">facebook</a>
							</li>
                    </ul>

				</div>
			</div>
		</div>
	</div>
	<div id="works">
		<div class="row">
			<div class="eight columns">
				<h2>Product Info</h2>
				<div id="introduction"></div>
			</div>
			<div class="four columns">
				<h2>Specs</h2>
				<div id="specs"></div>
			</div>
		</div>
	</div>
</div>



