<div class="content-outer" data-ng-init="get()">
    <div id="page-content" class="row page">
        <div id="primary" class="eight columns">
            <div id="contact-form">
                <form name="form" novalidate>
                    <fieldset>
                        <legend>Edit Product Details</legend>
                        <div>
                            <label for="inputTitle">Title</label>
                            <input type="text" size="50" id="inputTitle" name="inputTitle" ng-model="data.Title" required />
                        </div>

                        <div>
                            <label for="inputPrice">Price</label>
                            <input type="text" size="50" id="inputPrice" name="inputPrice" ng-model="data.Price" required />
                        </div>

                        <div>
                            <label for="inputDiscount">Discount</label>
                            <input type="text" size="50" id="inputDiscount" name="inputDiscount" ng-model="data.Discount" required />
                        </div>
                        
                        <div>
                            <label for="inputIntro">Product Info</label>
                            <textarea rows="15" cols="50" id="inputIntro" name="inputIntro" ng-model="data.Introduction" required ></textarea>
                        </div>

                        <div>
                            <label for="inputSpec">Product Spec</label>
                            <textarea rows="15" cols="50"  id="inputSpec" name="inputSpec" ng-model="data.Spec" required ></textarea>
                        </div>

                        <div>
                            <label for="inputTaobaoUrl">Taobao</label>
                            <input type="text" size="50" id="inputTaobaoUrl" name="inputTaobaoUrl" ng-model="data.tburl" />
                        </div>
                        <div>
                            <label for="inputEbayUrl">Ebay </label>
                            <input type="text" class="form-control" id="inputEbayUrl" name="inputEbayUrl" ng-model="data.ebayurl" />
                        </div>
                        <div>
                            <label for="inputWbUrl">Weibo </label>
                            <input type="text" class="form-control" id="inputWbUrl" name="inputWbUrl" ng-model="data.wburl" />
                        </div>
                        <div>
                            <label for="inputFbUrl">Facebook </label>
                            <input type="text" class="form-control" id="inputFbUrl" name="inputFbUrl" ng-model="data.fburl" />
                        </div>
                        <div>
                            <button type="submit" class="btn" ng-disabled="form.$invalid" data-ng-click="save()">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        
        <div id="secondary" class="four columns end">
        	<aside id="sidebar">
        	<div id="portfolio-wrapper" class="bgrid-full s-bgrid-full">
        	<img ng-src="{{data.CoverPhoto}}" />
        	</div>
        		<div class="widget widget_photostream">
        			<h5>Uploaded Photos</h5>
					<ul class="photostream cf">
						<li ng-repeat="p in data.Photos">
							<a ng-href="{{p}}"><img ng-src="{{p}}" alt="{{p}}"></a>
						</li>
					</ul>
        		</div>
        		<button type="button" class="btn"  ng-click="jumptoupload()">Upload More Photos</button>
        	</aside>
        </div>
    </div>
</div>


