<div class="content-outer" data-ng-controller="ArticleViewController" data-ng-init="getblog()">
    <div id="page-content" class="row">
    	<div id="primary" class="eight columns">
    		<article class="post">
    			<div class="entry-header cf">
    				 <h1 data-ng-bind="info.Title"></h1>
    				 <p class="post-meta">
    				 	<time class="date" >{{info.CreateTime}}</time>
    				 </p>
    			</div>
    			<div class="post-thumb">
					<img data-ng-src="{{info.CoverPhoto}}" data-ng-title="{{info.Title}}"  data-ng-alt="{{info.Title}}">
				</div>
				<div class="post-content">
					<div id="htmlcontentdiv"></div>
				</div>
    		</article>
    	</div>
		<div id="secondary" class="four columns end">
			<aside id="sidebar">
				<div class="row">
					<div id="portfolio-wrapper" class="bgrid-full s-bgrid-full"
						data-ng-repeat="deal in deals">
						<div class="columns portfolio-item">
							<div class="item-wrap">
								<a href="#/deal/{{deal.Id}}"> <img
									alt="{{deal.Info.Title}}" data-ng-src="{{deal.CoverPhoto}}">
									<div class="overlay"></div>
									<div class="link-icon">
										<i class="fa fa-link"></i>
									</div>
								</a>
								<div class="portfolio-item-meta">
									<h5>
										<a href="#/deal/{{deal.Id}}">{{deal.Info.Title}}</a>
									</h5>
									<p><del>${{deal.Info.Price + deal.Info.Discount}}</del>   ${{deal.Info.Price}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="widget widget_search">
                        <form>
                            <input class="text-search" type="text" data-ng-model="searchtext">
                            <input type="submit"
                                class="submit-search" value="" data-ng-click="query()">
                        </form>
                    </div>
                </div>
                <div class="row">
            <article class="post">
                <div class="entry-header cf">
                     <h1 data-ng-bind="fanyi.query"></h1>
                </div>
                <div class="post-content">
                        <span data-ng-hide="fanyi.basic.explains.length>0" data-ng-bind="fanyi.translation[0]"></span>
                    <div data-ng-repeat="e in fanyi.basic.explains">
                        <span>{{e}}</span>
                    </div>
                </div>
            </article>
                </div>
			</aside>
		</div>
    </div>
</div>


